@font-face {
  font-family: "open_sansbold";
  src: url("../fonts/opensans-bold-webfont.woff2") format("woff2"),
    url("../fonts/opensans-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "open_sansitalic";
  src: url("../fonts/opensans-italic-webfont.woff2") format("woff2"),
    url("../fonts/opensans-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "open_sansregular";
  src: url("../fonts/opensans-regular-webfont.woff2") format("woff2"),
    url("../fonts/opensans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FreestyleScript";
  src: url("../fonts/FREESCPT.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@import "slick.scss";
@import "slick-theme.scss";

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

// контейнер по умолчанию. Отступ между колонками
$colGups: 5px;

// контрольные точки, на которых наш макет будет перестраиваться (могут меняться зависимости от дизайна)
$breakpoints: (
  xs: 0,
  sm: 320px,
  md: 533px,
  lg: 768px,
  xl: 1024px,
  xxl: 1366px,
  xxxl: 1680px,
  xxxxl: 1920px
);

$columns: 12;

@each $breakpoint in $breakpoints {
  $name: nth($breakpoint, 1);
  $size: nth($breakpoint, 2);

  @media only screen and (min-width: $size) {
    [class*="col-#{$name}"] {
      box-sizing: border-box;
      flex: 0 0 auto;
      padding-right: $colGups;
      padding-left: $colGups;
    }
    @for $i from 1 through $columns {
      .col-#{$name}-#{$i} {
        flex-basis: 100% / $columns * $i;
        max-width: 100% / $columns * $i;
      }
    }
    @for $i from 1 through $columns {
      .col-#{$name}-offset-#{$i} {
        margin-left: 100% / $columns * $i;
      }
    }
  }
}

html {
  scroll-behavior: smooth;
}
// variables
$mainColor: #444;
$mainBackground: #fff;

//===========  mixins start ===========//

// columns
$columns: 12;
$col: $columns;

@mixin col($col, $columns) {
  width: percentage($col/$columns);
}

//===========  mixins end ===========//

@mixin col-create() {
  @while $col > 0 {
    .col-#{$col} {
      @include col($col, $columns);
    }

    $col: $col - 1;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
}

a {
  color: inherit;
}

// layout

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: -$colGups;
  margin-left: -$colGups;
}

[class^="col"] {
  padding-left: $colGups;
  padding-right: $colGups;
  width: 100%;
  min-height: 1px;
}

html {
  font-size: 16px;
}

@include col-create();

.header {
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: #fff;
  width: 100%;

  &__wrapper {
    display: flex;
    justify-content: center;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    font-size: 0.875rem;
    font-family: "open_sansregular";
    padding: 1.01em 0;
    position: relative;

    &:hover {
      color: #5363db;
    }

    &:hover:before,
    &:focus:before {
      content: "";
      width: 2.14em;
      height: 1px;
      background-color: #5363db;
      position: absolute;
      bottom: 0.5em;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__item:nth-of-type(4) {
    &:hover:before {
      content: none;
    }
  }

  &__item + &__item {
    margin-left: 2.14em;
  }

  &__logo {
    padding: 0 140px;
    &-m {
      display: none;
    }
  }

  .menu {
    display: none;
  }
}

.hero {
  margin-top: 100px;
  position: relative;
  min-height: calc(100vh - 100px);
  background-color: #5363d8;
  background: url("../img/hero-bg.png") right/ cover no-repeat, #5363d8;
  background-blend-mode: luminosity;
  background-position: 66%;
  display: flex;
  align-items: center;
  &:after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(83, 99, 216, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  &__wrapper {
    z-index: 3;
  }

  &__wrapper-form {
    display: flex;
    justify-content: flex-end;
    padding-right: 40px;
  }

  &__wrapper-text {
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__form {
    background-color: #fff;
    padding: 2.5rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
  }

  &__form-title {
    font-size: 1.625rem;
    font-family: "open_sansbold";
    color: #5363db;
    padding-bottom: 1.08em;
  }

  input,
  select {
    border: none;
    background-color: #f2f2f2;
    font-size: 0.875rem;
    color: #888888;
    margin-bottom: 1.36em;
    font-family: "open_sansregular";
    padding: 1.2em 0.65em;
    border-radius: 10px;
    outline: transparent;
    border: 1px solid transparent;

    &:hover,
    &:focus,
    &:active {
      border: 1px solid #5363d8;
    }
  }

  input[type="submit"] {
    margin: 0.625em 0 0;
    font-size: 1rem;
    font-family: "open_sansbold";
    color: #fff;
    background-color: #5363d8;
    width: 72%;
    align-self: flex-end;
  }

  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #888888;
    font-size: 0.875rem;
    opacity: 1; /* Firefox */
  }

  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #888888;
    font-size: 0.875rem;
  }

  ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #888888;
    font-size: 0.875rem;
  }

  &__title {
    color: #fff;
    font-size: 3rem;
    font-family: "open_sansbold";
    line-height: 1.5;
  }

  &__description {
    font-size: 2.5rem;
    font-family: "FreestyleScript";
    color: #fff;
    line-height: 1.5;
  }
}

.reservation {
  padding: 7.19rem 0;

  &__title {
    text-align: center;
    font-family: "open_sansbold";
    font-size: 1.875rem;
    color: #5363db;
    text-transform: uppercase;
    padding-bottom: 0.7em;
  }

  &__text {
    font-size: 2.625rem;
    text-align: center;
    padding-bottom: 1.63em;
    font-family: "FreestyleScript";
    color: #777777;
  }

  &__item {
    display: flex;
    border-radius: 10px;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 20px;
  }

  &__img {
    font-size: 0;
    padding: 0;
    overflow: hidden;
    img {
      object-position: -10px;
      object-fit: cover;
    }
  }

  &__about {
    padding: 1.875rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &__name {
    font-family: "open_sansbold";
    font-size: 1.25rem;
    padding-bottom: 1.5em;
    text-transform: uppercase;
    color: #777777;
  }

  &__description {
    font-size: 0.875rem;
    font-family: "open_sansregular";
    color: #777777;
    line-height: 1.57;
    padding-bottom: 1.2em;
  }

  &__type {
    font-size: 0.875rem;
    font-family: "open_sansregular";
    color: #999999;
  }
}

.gallery {
  &__wrapper {
    margin: 0;
  }
  &__item {
    position: relative;
    padding: 0;
    font-size: 0;
    img {
      max-width: 100%;
      object-fit: cover;
    }
  }

  &__about {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(83, 99, 216, 0.8);
    display: none;
  }

  &__item:hover,
  &__item:focus,
  &__item:active {
    img {
      filter: grayscale(1);
    }
  }

  &__item:hover &__about,
  &__item:focus &__about,
  &__item:active &__about {
    display: flex;
  }

  &__magnifier {
    background-color: #fff;
    width: 57px;
    height: 57px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #5363db;
  }
}

.about {
  padding: 7.69rem 0;

  &__wrapper {
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
  }

  &__title {
    font-size: 1.875rem;
    font-family: "open_sansbold";
    text-transform: uppercase;
    color: #5b6ceb;
    padding-bottom: 0.67em;
  }

  &__text {
    font-size: 0.875rem;
    font-family: "open_sansregular";
    line-height: 1.57;
    color: #555555;
  }

  .slider {
    img {
      max-width: 100%;
      object-fit: cover;
      align-self: flex-end;
    }
  }

  .slick-slide {
    display: flex;
    justify-content: center;
    width: 50%;
  }

  .slick-prev {
    z-index: 5;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 9px 9px 0px rgba(0, 0, 0, 0.1);
    height: 3.125rem;
    width: 3.125rem;
  }

  .slick-prev:before {
    content: url("../img/prev.png");
    position: relative;
    top: 0.19rem;
    right: 0.125rem;
  }

  .slick-next {
    z-index: 5;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 9px 9px 0px rgba(0, 0, 0, 0.1);
    height: 3.125rem;
    width: 3.125rem;
  }

  .slick-next:before {
    content: url("../img/next.png");
    position: relative;
    top: 3px;
    left: 3px;
  }
}

.elements {
  background-color: #d7d7d7;
  padding: 5.625rem 0 6.56rem;
  background: url("../img/elements-bg.png") right/ cover no-repeat, #5363d8;
  background-blend-mode: luminosity;
  position: relative;
  &:after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(83, 99, 216, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  &__wrapper {
    z-index: 5;
  }

  &__item {
    color: #fff;
    display: flex;
    flex-direction: column;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1.563rem 0.625rem;
  }

  &__title {
    font-size: 1.125rem;
    font-family: "open_sansbold";
    line-height: 1.5;
    padding: 1.11em 0;
  }

  &__text {
    font-size: 1rem;
    line-height: 1.688;
    font-family: "open_sansregular";
  }

  &__item:hover &__img {
    transform: rotateY(360deg);
    transition: 1.5s ease-in;
  }
}

.shop-blog {
  background-image: url("../img/lotos.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  padding: 6.25rem 0 8.75rem;
}

.shop {
  &__wrapper {
    margin: 0;
    justify-content: space-between;
  }

  &__wrap-item {
    padding: 10px 15px;
  }

  &__item {
    padding: 0;
    box-shadow: 0px 9px 50px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-size: 0;
    overflow: hidden;
    background-color: #fff;
  }

  &__title {
    text-align: center;
    font-family: "open_sansbold";
    color: #fff;
    background-color: #5363db;
    font-size: 4.19rem;
    padding: 0.75em;
    margin-bottom: 0.37em;

    &-currency {
      font-size: 2rem;
      vertical-align: middle;
    }

    &-month {
      font-size: 1.125rem;
      text-transform: uppercase;
    }
  }

  &__about {
    font-size: 1.125rem;
    color: #555555;
    line-height: 1.33;
    position: relative;
    padding: 1em 2em 1em 3.83em;
    position: relative;
  }

  &__about:after {
    content: "";
    width: 6.188rem;
    height: 1px;
    background-color: #d7d7d7;
    position: absolute;
    bottom: 0;
    left: 7.5em;
  }

  &__about:last-of-type:after {
    content: none;
  }

  &__btn {
    font-size: 1.125rem;
    margin: 2.5em 0 2.78em;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.89em 2.67em;
    background-color: #5b6ceb;
    border: none;
    border-radius: 20px;
    outline: transparent;
    color: #fff;
    font-family: "open_sansbold";
  }
}

.contact {
  background-color: #5b6ceb;
  padding: 6.25rem 0;
  color: #fff;

  &__title {
    font-size: 18px;
    font-family: "open_sansbold";
    line-height: 1.22;
    text-transform: uppercase;
    padding-bottom: 2.94em;
  }

  &__text {
    font-size: 14pxrem;
    font-family: "open_sansregular";
    line-height: 1.57;
    padding-bottom: 4em;
  }

  &__social {
    display: flex;
  }

  &__item + &__item {
    padding-left: 15px;
  }

  &__contact {
    display: flex;
  }

  &__contact + &__contact {
    padding-top: 22px;
  }

  &__link {
    padding-left: 15px;
    font-size: 14px;
    font-family: "open_sansregular";
    line-height: 1.57;
    vertical-align: middle;
  }

  &-row {
    flex-direction: column;
  }
}

.blog {
  box-sizing: border-box;
  margin: 6.25rem 15px 0;
  position: relative;

  .slider--big {
    background-color: #fff;
    padding: 2.62rem 3.125rem 4.063rem;
    border-radius: 8px;
    box-shadow: 0px 9px 50px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;

    .blog__item {
      width: 100%;
    }
  }

  .slider--big &__item {
    display: flex;
  }

  .slider-wrapper {
    position: absolute;
    bottom: 0;
    transform: translateY(50%);
    left: calc(50% - 33.3% / 2);
  }

  .slider-wrapper .blog__item {
    display: flex;
    justify-content: space-around;
  }

  .slick-dots {
    position: absolute;
    width: auto;
    right: -30px;
    top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;

  }

  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &:after {
      content: "";
      width: 2px;
      height: 50%;
      background-color: #d7d7d7;
      position: absolute;
      right: 0;
      bottom: 1px;
    }

    &--small:after {
      content: none;
    }

    img {
      max-width: 100%;
      border-radius: 50%;
      position: relative;
      top: 1px;
      object-fit: cover;
      object-position: top;
    }

    &--border {
      padding: 0.69rem;
      border: 2px solid #d7d7d7;
      border-radius: 50%;
      overflow: hidden;
    }

    &--small-border {
      padding: 0.188rem;
      background-color: #fff;

      img {
        max-width: 100%;
      }
    }
  }

  &__rewiew {
    padding: 0 4.94rem 0 2.44rem;
    position: relative;

    &:before {
      content: url("../img/quotes-l.png");
      position: absolute;
      top: 0;
      left: 0;
    }

    &:after {
      content: url("../img/quotes-r.png");
      position: absolute;
      bottom: 50%;
      transform: translateY(-50%);
      right: 0;
    }
  }

  &__text {
    font-size: 0.875rem;
    line-height: 1.57;
    font-family: "open_sansitalic";
    padding-bottom: 1.78em;
    color: #555555;
  }

  &__position {
    font-size: 0.875rem;
    line-height: 1.57;
    font-family: "open_sansregular";
    color: #777777;
  }

  &__name {
    font-size: 1rem;
    line-height: 1.375;
    font-family: "open_sansbold";
    color: #5363db;
  }

  &__trainer {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &-name {
      font-size: 0.875rem;
      line-height: 1.57;
      color: #555555;
      font-family: "open_sansbold";
    }
  }

  &__speciality {
    font-size: 0.75rem;
    line-height: 1.83;
    font-family: "open_sansregular";
    color: #777777;
  }

  .slick-prev {
    z-index: 5;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 9px 9px 0px rgba(0, 0, 0, 0.1);
    height: 3.125rem;
    width: 3.125rem;
    left: -66px;
  }

  .slick-prev:before {
    content: url("../img/prev.png");
    position: relative;
    top: 0.19rem;
    right: 0.125rem;
  }

  .slick-next {
    z-index: 5;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 9px 9px 0px rgba(0, 0, 0, 0.1);
    height: 3.125rem;
    width: 3.125rem;
    right: 0;
  }

  .slick-next:before {
    content: url("../img/next.png");
    position: relative;
    top: 3px;
    left: 3px;
  }

  .slick-dots li button {
    border: 1px solid #d7d7d7;
  
    border-radius: 50%;
    margin-bottom: 10px;

    &:before {
      top: 15%;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  button {
    margin-bottom: 10px;
  }

  .slick-dots li button:hover,
  .slick-dots li button:focus,
  .slick-dots li button:active,
  .slick-dots li button:visited {
    border: 1px solid #5363db;

    &:before {
      top: 15%;
      left: 50%;
      transform: translateX(-50%);
      background-color: #5363db;
    }
  }

  .slider-wrapper .slider--small .slick-dots li button:before {
    background-color: transparent;
  }

  .slider-wrapper .slider--small .slick-dots li.slick-active button:before {
    // border: 1px solid #5363db;
    background-color: #5363db;

  }
}

.footer {
  background-color: #5363d8;
  color: #b7bffc;
  font-family: "open_sansregular";
  font-size: 1rem;
  line-height: 1.375;
  text-align: center;
  padding: 1.51em 0 2em;
}
